USE [master]
GO
/****** Object:  Database [rating]    Script Date: 03/08/2020 21:34:13 ******/
CREATE DATABASE [rating]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rating', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\rating.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'rating_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\rating_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rating].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rating]
GO
/****** Object:  Table [dbo].[assignments_posts]    Script Date: 03/08/2020 21:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assignments_posts](
	[postID] [int] NOT NULL,
	[userID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[posts]    Script Date: 03/08/2020 21:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[posts](
	[postID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[topicID] [int] NOT NULL,
	[postedON] [datetime] NOT NULL,
	[caption] [varchar](max) NULL,
	[document_name] [varchar](255) NOT NULL,
	[document] [varbinary](max) NOT NULL,
	[creditLimit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[postID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[reviewers_speciality]    Script Date: 03/08/2020 21:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviewers_speciality](
	[userID] [int] NOT NULL,
	[topicID] [int] NOT NULL,
	[AVGrate] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[reviews]    Script Date: 03/08/2020 21:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[reviews](
	[reviewID] [int] IDENTITY(1,1) NOT NULL,
	[postID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[postedON] [datetime] NOT NULL,
	[content] [varchar](max) NULL,
	[rate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[reviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[topics]    Script Date: 03/08/2020 21:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[topics](
	[topicID] [int] IDENTITY(1,1) NOT NULL,
	[topic] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[topicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[topic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 03/08/2020 21:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[psword] [varchar](255) NOT NULL,
	[user_role] [int] NOT NULL,
	[works] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT (getdate()) FOR [postedON]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT ((0)) FOR [creditLimit]
GO
ALTER TABLE [dbo].[reviewers_speciality] ADD  DEFAULT ((0)) FOR [AVGrate]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [postedON]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [works]
GO
ALTER TABLE [dbo].[assignments_posts]  WITH CHECK ADD FOREIGN KEY([postID])
REFERENCES [dbo].[posts] ([postID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[assignments_posts]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD FOREIGN KEY([topicID])
REFERENCES [dbo].[topics] ([topicID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([userID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviewers_speciality]  WITH CHECK ADD FOREIGN KEY([topicID])
REFERENCES [dbo].[topics] ([topicID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviewers_speciality]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([userID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([postID])
REFERENCES [dbo].[posts] ([postID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([userID])
GO
USE [master]
GO
